.container-acerca {
  text-align: center;
  display: flex;
  align-items: center; 
  max-width: 900px;
  margin-top: 50px
  }

  .descripcion {
    font-family: 'Courier New', Courier, monospace;
    max-width: 450px;
    padding: 0 10px;
    font-size: 17px;
    color: #fff;
  }

  .name {
    font-size: 45px;
    color: rgb(123, 220, 255) ;
    text-shadow: 0px 0px 3px  #e6e3e3de;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
  }

.principal {
  position: relative;
}

.imgPc{
      width: 320px;
      height: 450px;
      border-radius: 50%;
      background-image: url(/public/perfilOs.jpg);
      background-size: 450px;
      background-repeat: no-repeat;
      margin: 40px 90px 0 30px;
      border-radius: 200px 50px 50px 100px;
      border: 5px solid #FFF;
   }

   /* .imgPc::before{
    width: 300px;
    height: 440px;
    content: "";
    border-radius: 10px 300px 50px 100px;
  position: absolute;
  background-color: chartreuse;
  z-index: -1;
  top: 10px;
  left: 0;
  margin-left: 75px;
 } */

   .titulo{
    font-size: 35px;
    font-weight:  500;
    margin: 25px 25px;
    line-height: 48px;
    color: rgb(221, 218, 218);
    text-shadow:  1px 1px #fff;
       font-family: monospace;
}

h3 span {
  font-size: 29px;
  color: rgba(202, 204, 201, 0.644);
  text-shadow:  1px 1px #fff;
  letter-spacing: 1px;
}
.subtitulo{
    font-size: 30px;
    margin: 10px 0 0 0;
    font-weight:  500;     
    text-align: center; 
}


@media (max-width: 820px) {
  .name {
    margin-top: 25px;
    line-height:40px;
  }

  .titulo {
    line-height: 25px;
  }
  }

@media (min-width: 560px) and (max-width: 820px) {

  .imgPc{
    position: absolute;
    top: 50px;
    left: 0;
    width: 250px;
    height: 350px;
    background-image: url(/public/perfilOs.jpg);
    background-size: 350px;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 200px 400px 50px 100px;
    border-radius: 150px 35px 40px 80px;
 }

 /* .imgPc::before{
  width: 240px;
  height: 380px;
  content: "";
  border-radius: 10px 300px 80px 100px;
position: absolute;
background-color: chartreuse;
z-index: -1;
top: -60px;
left: 0;
margin-left: 30px;
} */

.container-descripcion {
  padding-left: 280px;
}

.name {
margin: 0 0 10px 0;
font-size: 28px;
}
.titulo {
  margin: 0;
  line-height: 40px;
  font-size: 28px;
  margin-top: 40px;
}
}



   @media (max-width: 560px) {
    .imgPc{
      display: none;
    }

    h3 span {
      color: #fff;
      font-size: 18px;
      text-shadow:  none;
      letter-spacing: 1px;
      margin: 0;
    }

    .container-acerca {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding:20px;
      max-width: 195px;
      margin: 0px 0px 0px 30px;
      
    }
    .titulo{
      font-size: 18px;
      font-weight:  500;
      margin: 0px;
      }
  
  .subtitulo{
      font-size: 23px;
      margin: 0;
      font-weight:  500;     
      text-align: center; 
  }

  .imgMobile{
    width: 180px;
    height: 230px;
    background-image: url(/public/perfilOs.jpg);
    background-size: 230px;
    background-repeat: no-repeat;
    margin: 10px 0 0 0;
    border-radius: 200px 400px 50px 100px;
     border-radius: 100px 30px 10px 50px;
    border: 4px solid #FFF;
 }

 /* .imgMobile::before{
  width: 180px;
  height: 250px;
  content: "";
  border-radius: 10px 300px 80px 100px;

position: absolute;
background-color: chartreuse;
z-index: -1;
top: 25px;
left: 30px;
margin-left: 50px;
} */

.name {
  margin-top: 8px;
  font-size: 22px;
}

.descripcion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
  line-height: 15px;
  color: #fff;
}
    
   }

   .up {
    display: flex;
    flex-direction: column;
   }
