.container__habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
.experiencia {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .habilidades__titulo {
    font-size: 25px;
    margin-top: 100px;
  }
  
  .experiencia__img {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 2px 15px #fff;
    background-color: #fff;
}

 .experiencia__img img {
    height: 160px;
    width: 160px;
  }

  .experiencia__img3 {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 2px 15px #fff;
    background-color: #fff;
   }

  .experiencia__img3 img{
    height: 120px;
    box-shadow: 0px 2px 15px #fff;
    margin-top: 20px;
    background-color: #fff;
  }


  .experiencia__text {
    width: 480px;
    height: fit-content;
    background-color: cadetblue;
    border-radius: 20px;
    margin: 0 30px;
    box-shadow: 0px 2px 15px #fff;
    padding: 10px 10px;
  }
  
  .experiencia__empresa {
    color: #000;
  }
  
  .experiencia__cargo {
    color: rgb(61, 61, 61);
  }
  
  h3, h4, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul{
   
  text-align: justify;
  }
  
  @media (max-width: 810px) {
  
  
    
  .habilidades__titulo {
    font-size: 25px;
    margin-top: 0px;
    }
  
  .experiencia {
    margin:  0px 0px 0px 30px;
  }
  
  .experiencia__img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 2px 15px #fff;
    margin-top: 10px;
  }
 
  .experiencia__img img {
    height: 80px;
    width: 80px;   
  }

  .experiencia__img3 {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 2px 15px #fff;
    background-color: #fff;
    margin-top: 10px;
   }

  .experiencia__img3 img{
    height: 80px;
    width: 80px;
    box-shadow: 0px 2px 15px #fff;
    margin-top: 0px;
    background-color: #fff;
    border: 2px solid #fff;
  }
  .experiencia__text {
    max-width: 280px;
    height: 130px;
    background-color: cadetblue;
    border-radius: 20px;
    margin: 0 30px;
    box-shadow: 0px 2px 15px #fff;
    padding: 7px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
  }
    
    .experiencia__titulo {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 5px;  
       
    }
  
    .experiencia__text{
      margin: 5px;
      width: 210px;
      height: 120px;
      background-color: transparent;
      box-shadow: none;
    }
  
    .experiencia__empresa {
    color: #000;
    width: 200px;
    text-align: center;
    margin: 5px 0;
    color: rgb(123, 220, 255) ;
  }
  
  .experiencia__cargo {
    color: rgb(115, 103, 230);
     margin: 5px 0;
  }
  
  h3, h4, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 15px;
   
  }
  
  ul{
    min-width: 200px;
  text-align: justify;
  }
  
    .experiencia {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  
  }
  
  @media (min-width: 562px) and (max-width: 810px) {
    .experiencia__titulo {
      margin-top: 70px;
    }
  }

  @media (max-width: 890px) {
  .container__habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
  }

  
  @media (max-width: 810px) {
    .container__habilidades {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
    } 

    @media (max-width: 560px) {
        .container__habilidades {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
        } 
    
    
